
.idea/misc.xml
.idea/workspace.xml
1/code/__pycache__/Bubble.cpython-311.pyc
1/code/__pycache__/Insertion.cpython-311.pyc
1/code/__pycache__/selection.cpython-311.pyc
2/code/__pycache__/quick.cpython-311.pyc
